a{
    text-decoration: none;
    color:rgb(165, 151, 151);
    padding:8px;
    font-size: large;
}
#destinations-select{
    color:rgb(165, 151, 151);
    background-color: black;
    border: none;
    font-size: 17px;
    padding: 8px;
    text-align: center; 
}


#destinations-select:hover{
    outline:none;
    color:rgb(146, 81, 81);
}
.logo{
    color:white;
    font-size: large;
    font-style:oblique;
    font-weight: bold;
}
.nav{
    background-color: black;
    padding:15px;
    display: flex;
    justify-content: space-between;
    height:25px;
}

.main{
    padding:4px;
    height: 60px;
    width:150px;
    font-size: large;
    font-weight:600;
    background-color: transparent;
    color:white;
    border:3px white solid;
}
.fa-caret-down {
    margin-left: 5px; /* Spacing between text and icon */
}
.main:hover{
   transform: scale(1.1);
}
.cont1{
    position: relative ;
    height: auto;
    width:100%;
}
video{
    width:100%;
    height:auto;
}
.vid-cont{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.vid-cont h1{
    color:white;
    font-size:50px;
   
}
.vid-cont p{
    color:white;
    font-size:25px;
}
.head{
    display:flex;
    align-items: center;
}
hr{
    width:540px;
     height: 1px;
     border:none;
     background-color: black;
     box-shadow: 2px 2px 8px rgb(114, 112, 112);
}
.head h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-shadow: 2px 2px 8px rgb(114, 112, 112);
}
.img{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:6px;
}

img{
    height:auto;
    object-fit:cover;
    border-radius: 6px;
    max-width:100%;
}

img:hover{
   transform: scale(1.15);
}
.footer .sub-right:hover{
    color:rgb(146, 81, 81);
}
.left a:hover{
    color:rgb(146, 81, 81);
}
.dest:hover{
    color:rgb(146, 81, 81);
}
.footer{
  background-color: black;
  width:100%;
  display:flex;
  padding:10px 20px;
  margin:10px;
}
.footer .left{
    display:flex;
    flex-direction: column;
    color:rgb(165, 151, 151); 
    width:70%;
}
.footer .right {
    display: flex;
    flex-direction: column; /* Aligns content to the bottom */
    width: 30%; /* Takes up the remaining 30% */
    color: rgb(165, 151, 151);
}
.footer p{
    line-height: 1.6;
    font-style:italic;
    font-size:18px;
}
.social{
  display: flex;
  justify-content: center;
}

.social img{
    height:auto;
    width:30px;
}
.anc{
    display:flex;
    gap:20px;
    margin-bottom: 10px;
}
.footer .logo{
    text-align: center;
}




